:root {
    --su-white: #ffffff;
    --su-black: #000000;
    --su-light-gray: #808080;
    --su-mid-gray: #242424;
    --su-dark-mid-gray: #1B1B1B;
    --su-dark-gray: #121212;
    --su-yellow: #c7c700;

    background-color: var(--su-black);
}

/*
    * Student-facing
    * Worker-facing
        * Top Panel
        * Left Panel
            * Add Item
            * Export Statistics
        * Database View
            * Entry
*/
