/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#add-item-container {
    width: 50vw;
    height: fit-content;

    background-color: rgb(18, 18, 18);

    border-radius: 0.5vw;
    border: 2px solid rgb(199, 199, 0);

    padding: 8px;

    display: flex;
    flex-direction: column;
}

#add-item-title {
    border: 2px solid gray;
    border-radius: 0.5vw;

    text-align: center;

    font-size: 2em;
    font-weight: bold;
}

#add-item-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#add-item-fields {
    --elem_spacing: 5px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    align-items: center;

    gap: var(--elem_spacing);
    padding-top: var(--elem_spacing);
    padding-bottom: var(--elem_spacing);
}

.add-item-field {
    width: 100%;

    flex-grow: 1;
}

.add-item-field-text-input {
    background-color: rgb(45, 45, 45);
    color: white;
}

#add-item-buttons {
    width: 100%;

    background-color: gray;
    color: black;

    border-radius: 0.5vw;
}
